@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_VarsayilanLayout.cshtml";
}

<h1>
    Techcareer.net .Net Core Back-end Bootcamp
</h1>
<h2>
    Techcreer  .Net Core Back-end Bootcamp programı dahilinde hazırlamış olduğum projedir.
         Üyelerin biletli veya biletsiz olarak etkinlik oluşturabildiği,etkinliklere katılabildiği bir web uygulamasındır.
         Kullanıcı üye olduktan sonra sistemde kayıtlı etkinliklere katılabilir ve kendisi de sitenin sunduğu kategorilerde ve şehirlerde kendi etkinliğini oluşturabilir.
         Kullanıcıların yanısıra sisteme bilet satış siteleri de üye olup diledikleri etkinlikleri kendi sayfaları üzerinden satışa sunabilirler.
         Kullanıcı bu uygulamada etkinliği oluşturduktan sonra etkinlik site adminine gider.Admin onay verirse etkinlik diğer kullanıcıların ve firmaların görebileceği hale gelir,
         admin etkinliği silebilir.Admin kullanıcısı etkinlik kateğorilerini ve etkinlik oluşturulabilecek şehirleri güncelleme yetkisine sahiptir.
         Üyeler kendi bilgilerini düzenleyebilir,aynı şekilde oluşturdukları etkinliklerin bilgilerini de düzenleyebilir fakat etkinlik bilgisi düzenleme işlemi etkinlik 
         tarihinden 5 gün öncesine kadar yapılabilir daha sonrasında değişiklik yapılamaz.Bir kullanıcı bir etkinliğe yanlızca bir kez dahil olabilir.

         
</h2>