
@{
    ViewData["Title"] = "Giris";
    Layout = "~/Views/Shared/_VarsayilanLayout.cshtml";
}

<header>
    <div align="justify">
        <p>
            <font face="tahoma" size="5" color="maroon">
                <b>FİRMA GİRİŞ SAYFASINA HOŞGELDİNİZ</b>
                <br />

            </font>
        </p>
    </div>
    <br />

</header>
<body>

    <form method="post">



        <div class="from-group">
            <label>Email adresi </label>
            <br />

            <input type="email" id="Mail" name="Mail" />
        </div>
        <br />
        <div class="from-group">
            <label>    Şifre </label>
            <br />
            <input type="password" id="Sifre" name="Sifre" />
        </div>
        <br />
        <button class="btn btn-primary">GİRİŞ YAP</button>

        &nbsp;&nbsp;
        <br />
        <br />
        <br />


    </form>
</body>

